@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary:#4f772d;
  --primary-dark:#31572c;
  --primary-extra-dark:#132a13;
  --primary-light:#90a955;
  --primary-extra-light:#ecf39e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-primary-extra-dark: var(--primary-extra-dark);
  --color-primary-light: var(--primary-light);
  --color-primary-extra-light: var(--primary-extra-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
